@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin main {
  max-width : 614px;
  margin-top: 30px;
  border: 1px solid $color-lightgray;
  background: #fff;
}

@mixin button {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  background: none;
  border: none;
  outline: none;
}