// COLORS
$color-primary: #fafafa;
$color-white: #ffffff;
$color-gray: #8e8e8e;
$color-dark-gray: #262626;
$color-lightgray: #d8d8d8;
$color-blue: #0095F6;

// Container
$width-container: 935px;
$p-container: 30px;

// FONTS
$font-stack: "Arial", sans-serif;
